@page "/"
<HeadContent>
   <meta name="description" 
   content="When writing a meta description, 
keep it between 140 and 160 characters so 
Google can display your entire message. Don’t forget to include your keyword!" />
   <title>Index</title>
</HeadContent>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
