nav {
    background-color: forestgreen;
    padding: 1em;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
        display: inline-block;
         }
    }
}
.sidebar {
    background-color: purple;
}