<HeadContent>
<link href=@stylesheet rel="stylesheet" /> 
</HeadContent>



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src=@logo height="50"/>
        <a class="navbar-brand" href="">BlazorThemeSwitchDemo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
    <div id="ThemeSwitch" class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
         @onchange="CheckboxClicked">
         
        <label class="form-check-label" for="flexSwitchCheckDefault" style="color:white;"> @checkedMessage</label>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;
    private string checkedMessage = "Not changed yet";
    private bool isDefaultStylesheet = true;
    private string stylesheet = "css/site.css";
    private string logo = "icon-192.png";


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CheckboxClicked()
    {
        
        if (isDefaultStylesheet)
        {
            checkedMessage = "Set alt";
            logo = "hearts.png";
            stylesheet = "css/site-alt.css";
        }
        else
        {
            checkedMessage = "Set default";
            stylesheet = "css/site.css";
            logo = "icon-192.png";
        }
        isDefaultStylesheet = !isDefaultStylesheet;
    }
}
